.PageNation{
    opacity: 1;
    transition: .8s;
}
  .PageNation.fade{
    opacity: 0;
  }


.hiddenSection{
  width: calc( 100vw - (100vw - 100%));
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;

  background-color: rgba(64, 64, 64, 0.6);

  opacity: 1;
  pointer-events: initial;
  z-index: 55;

  transition: 1s;
}
.hiddenSection.hidden{
  opacity: 0;
  pointer-events: none;
}