Header{
  background-color: white;
  width: calc(100vw - (100vw - 100%));
  min-width: 1903px;
  z-index: 99;

  box-shadow: 0px 1px 10px rgba(0,0,0,0.07);
}
Header.scrolled{
  position: fixed;
  left: 0;
  top: 0;
}
.header{
  height: 55px;
}
.headerContainer{
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
}
.headerLeftWrap{
  height: 100%;
  display: flex;
  align-items: center;
}
.headerLogoButton{
  height: 100%;
  display: flex;
  align-items: center;
}
.headerLogoImage{
}

.headerRightWrap{
  height: 100%;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.headerUl{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 100%;
}
.headerLi, .headerLi button{
  width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.headerLi button{
  transition: 0.2s;
  position: relative;
}
  .headerLi button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px; 
    opacity: 0; /* 0 -> 1 */
    bottom: 0px;
    left: 0;

    background-color: #EA0000;

    transition: 0.2s;
  }

.headerLi:hover button, .headerLi.currentPageNav button{
  color: #EA0000;
}
  .headerLi:hover button::before, .headerLi.currentPageNav button::before{
    opacity: 1;
  }
.headerHamburgerWrap,.headerHamburgerButton{
  width: 100px;
  height: 100%;
}

