.AboutUsMain{
  height: 1160px;
  padding-top: 45px;

}
.AboutUsTextWrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.AboutUsMainLeftWrap, .AboutUsMainRightWrap{
  width: 50%;
}
.AboutUsMainTextContents{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  column-gap: 20px;

  padding-top: 15px;
}
.AboutUsMainTextContentsWrap{
  position: relative;
  padding-left: 20px;
}
.AboutUsMainLeftWrap .AboutUsMainTextContentsWrap::after, .AboutUsMainRightWrap .AboutUsMainTextContentsWrap::after{
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 8px;
}
.AboutUsMainLeftWrap .AboutUsMainTextContentsWrap::after{
  height: 675px;
  background-image: url("../../image/AboutUs/Left_Rectangle.webp");
}
.AboutUsMainRightWrap .AboutUsMainTextContentsWrap::after{
  height: 562px;
  background-image: url("../../image/AboutUs/Right_Rectangle.webp");
}
.AboutUsMainTextContentsYear{
  font-weight: bold;
  width: 60px;
}
.AboutUsMainTextContentsAwardWrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  row-gap: 5px;
}
.AboutUsMainTextContentsAward{
  font-size: 16px;
  text-align: center;
  line-height: 28px;
}

.AboutUsMainRightWrapCircle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #A3A3A3;
  margin: auto;
}
.AboutUsMainRightWrapCircle#RightWrapCircle01{
  margin-top: 75px;
}
.AboutUsMainRightWrapCircle#RightWrapCircle02{
  margin-top: 15px;
}
.AboutUsMainRightWrapCircle#RightWrapCircle03{
  margin-top: 35px;
}
.AboutUsMainRightWrapMoreButton{
  width: 100px;
  margin: 50px auto 0px auto;
  height: 48px;
  border-radius: 10px;
  box-shadow: -0.03px 2px 17px 2px rgba(162, 162, 162, 0.4);
  font-weight: bold;

  transition: 0.3s;  
}
.AboutUsMainRightWrapMoreButton:hover{
  background-color: #D72524;
  color: white;
}



.AboutUsCertificateWrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 85px;
}