.CultureImageSection{
  background-color: #F2F3F5;

  padding-bottom: 112px;
}

.CultureName{
  padding-top: 50px;
}
.CultureText{
  display: inline-block;
  font-size: 20px;
  line-height: calc(100% + 5px);
  margin: 15px 0px;
}
.CultureImageWrap{
  width: calc(100vw - (100vw - 100%));
  height: 370px;
  overflow: hidden;
  
}
.CultureImageMovingTrailer{
  display: flex;
  align-items: center;
}
.OurDayTrailer{
  justify-content: flex-start;
}
.CrewTrailer{
  justify-content: flex-end;
}

.CultureImage{
  height: 370px;
  padding-right: 16px;
}


.WelfareName{
  padding-top: 100px;
}

.WelfareGridWrap{
  margin-top: 55px;
  margin-bottom: 90px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 40px;
}
.WelfareContentsName{
  font-weight: bold;
  margin: 15px 0px 10px 0px;
}
.WelfareContentsText{
  font-weight: lighter;
  line-height: calc(100% + 8px);
  color: #6B737D;
}